{% extends "polyclassifiedads/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Browse ads" %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans "Browse ads" %}</h1>


{% if not liste %}
    <div class="alert alert-warning">
        {% trans "No ads yet !" %}
    </div>
{% else %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Last modification" %}</th>
                <th>{% trans "Content" %}</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for ad in liste %}
                <tr>
                    <td><a href="{% url 'polyclassifiedads.views.show' ad.pk %}">{{ad.title}}</a></td>
                    <td>{% if ad.author %}{{ad.author.get_full_name}}{% else %}<i>{% trans "Anonymous" %}{% endif %}</i></td>
                    <td>{{ad.last_modification_date|date}}</td>
                    <td>{{ad.content|truncatewords_html:20}}</td>
                    <td>
                        {% if ad.author == user or user.is_staff %}
                            <a href="{% url 'polyclassifiedads.views.delete' ad.pk %}" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
                            <a href="{% url 'polyclassifiedads.views.put_offline' ad.pk %}" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-minus"></i> {% trans "Put offline" %}</a>
                            <a href="{% url 'polyclassifiedads.views.edit' ad.pk %}" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-pencil"></i> {% trans "Edit" %}</a>
                        {% endif %}

                            <a href="{% url 'polyclassifiedads.views.show' ad.pk %}" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-folder-open"></i> {% trans "More" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>



    <ul class="pager">
        {% if liste.has_previous %}
            <li class="previous"><a href="?page={{liste.previous_page_number}}">&larr; {% trans "Newer" %}</a></li>
        {% else %}
            <li class="previous disabled"><a href="#">&larr; {% trans "Newer" %}</a></li>
        {% endif %}

        <li>{% blocktrans with n=liste.number p=liste.paginator.num_pages %}Page {{n}} of {{p}}{% endblocktrans %}</li>

        {% if liste.has_next %}
            <li class="next"><a href="?page={{liste.next_page_number}}">{% trans "Older" %} &rarr;</a></li>
        {% else %}
            <li class="next disabled"><a href="#">{% trans "Older" %} &rarr;</a></li>
        {% endif %}

    </ul>


{% endif %}

<script type="text/javascript">$('#polyads-menu-browse').addClass('active');</script>

<script type="text/javascript">

</script>
{% endblock %}
