{% extends "polyclassifiedads/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load polyclassifiedads_extras %}
{% load staticfiles %}

{% block title %}{{block.super}} :: {% trans "Browse ads" %}{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-9">

        <a href="?tag={{tag}}&q={{q}}&cat={{cat}}&typ={{typ}}&mode_liste={{mode_liste|yesno:'false,true'}}" class="pull-right" style="margin-top: 15px;"><i class="glyphicon glyphicon-th-{{mode_liste|yesno:'large,list'}}"></i></a>

        <h1 class="page-header">{% trans "Browse ads" %} <a href="{% polyclassifiedads_rss_link %}" target="_blank"><img src="{% static "polyclassifiedads/rss.png" %}"></img></a></h1>

        {% if not liste %}
            <div class="alert alert-warning">
                {% trans "No ads for your search !" %}
            </div>
        {% else %}

            {% if mode_liste %}

                <table class="table table-condensed table-striped table-hower">

                    <thead>
                        <tr>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Author" %}</th>
                            <th>{% trans "Text" %}</th>
                            <th>{% trans "Tags" %}</th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for ad in liste %}
                        {% polyclassifiedads_is_seen ad as ad_seen %}
                        <tr>
                            <td>
                                {% if not ad_seen %}<small><small><i class="glyphicon glyphicon-asterisk"></i></small></small>{% endif %}
                                <a style="{% if not ad_seen %}font-weight: bold;{% endif %}" href="{% url 'polyclassifiedads.views.show' ad.pk %}">{{ad.title}}</a>
                            </td>
                            <td>{% if ad.author %}{{ad.author.get_full_name}}{% else %}<i>{% trans "Anonymous" %}</i>{% endif %}</td>
                            <td>{{ad.content_formated|safe|removetags:"br p"|truncatewords_html:10}}...</td>
                            <td>
                                <a href="?tag={{tag}}&q={{q}}&cat={{ad.category}}&typ={{typ}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-list-alt"></i> {{ad.get_category_display}}</a>
                                <a href="?tag={{tag}}&q={{q}}&cat={{cat}}&typ={{ad.type}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-list-alt"></i> {{ad.get_type_display}}</a>
                                {% for t in ad.tags_for_list %}
                                    <a href="?tag={{t.tag}}&q={{q}}&cat={{cat}}&typ={{typ}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-tag"></i> {{t.tag}}</a>
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'polyclassifiedads.views.show' ad.pk %}" style="margin-bottom: 2px;" class="btn btn-info btn-xs pull-right"><i class="glyphicon glyphicon-folder-open"></i> {% trans "More" %}</a></td>
                        </tr>


                    {% endfor %}
                </table>

            {% else %}

                <div class="row">

                    {% for ad in liste %}
                        {% polyclassifiedads_is_seen ad as ad_seen %}
                        <div class="col-sm-3 col-md-3">
                            <div class="thumbnail">
                            <div class="caption">
                                <h4 style="margin-top: 0px; {% if not ad_seen %}font-weight: bold;{% endif %}">
                                    {% if not ad_seen %}<small><small><i class="glyphicon glyphicon-asterisk"></i></small></small>{% endif %}
                                    <a href="{% url 'polyclassifiedads.views.show' ad.pk %}">{{ad.title}}</a>
                                    <small>{% trans "By" %} {% if ad.author %}{{ad.author.get_full_name}}{% else %}<i>{% trans "Anonymous" %}</i>{% endif %}</small>
                                </h4>

                                {{ad.content_formated|safe|truncatewords_html:10}}
                                <a href="{% url 'polyclassifiedads.views.show' ad.pk %}" style="margin-bottom: 2px;" class="btn btn-info btn-xs pull-right"><i class="glyphicon glyphicon-folder-open"></i> {% trans "More" %}</a>
                                <hr style="clear: both; margin-bottom: 0px;"/>
                                <a href="?tag={{tag}}&q={{q}}&cat={{ad.category}}&typ={{typ}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-list-alt"></i> {{ad.get_category_display}}</a>
                                <a href="?tag={{tag}}&q={{q}}&cat={{cat}}&typ={{ad.type}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-list-alt"></i> {{ad.get_type_display}}</a>
                                {% for t in ad.tags_for_list %}
                                    <a href="?tag={{t.tag}}&q={{q}}&cat={{cat}}&typ={{typ}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-tag"></i> {{t.tag}}</a>
                                {% endfor %}
                            </div>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class="row">
                        {% endif %}

                    {% endfor %}
                </div>

            {% endif %}

            <ul class="pager">
                {% if liste.has_previous %}
                    <li class="previous"><a href="?page={{liste.previous_page_number}}{% if tag %}&tag={{tag}}{% endif %}&q={{q}}&cat={{cat}}&typ={{typ}}">&larr; {% trans "Newer" %}</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">&larr; {% trans "Newer" %}</a></li>
                {% endif %}

                <li>{% blocktrans with n=liste.number p=liste.paginator.num_pages %}Page {{n}} of {{p}}{% endblocktrans %}</li>

                {% if liste.has_next %}
                <li class="next"><a href="?page={{liste.next_page_number}}{% if tag %}&tag={{tag}}{% endif %}&q={{q}}&cat={{cat}}&typ={{typ}}">{% trans "Older" %} &rarr;</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">{% trans "Older" %} &rarr;</a></li>
                {% endif %}

            </ul>
        {% endif %}

    </div>
    <div class="col-md-3">

        <h3 class="page-header">{% trans "Filters" %}</h3>

        <form action="" method="GET">
            <input type="hidden" name="tag" value="{{tag}}">
            <div class="input-group">
                <input class="form-control" type="text" name="q" value="{{q}}" placeholder="{% trans "Search in ads" %}">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            </div>
            <select class="form-control" id="cat-select" name="cat" data-placeholder="{% trans "Filter by category" %}" style="margin-top: 4px;">
                {# <option value='' disabled selected style='display:none;'>{% trans "Select a category" %}</option> #}
                <option>&nbsp;</option>
                {% for cid, ctext in CATEGORY_CHOICES %}
                    <option value="{{cid}}" {% if cid == cat %}selected{% endif %}>{{ctext}}</a>
                {% endfor %}
            </select>

            <select class="form-control" id="typ-select" name="typ" data-placeholder="{% trans "Filter by type" %}" style="margin-top: 4px;">
                {# <option value='' disabled selected style='display:none;'>{% trans "Select a type" %}</option> #}
                <option>&nbsp;</option>
                {% for cid, ctext in TYPE_CHOICES %}
                    <option value="{{cid}}" {% if cid == typ %}selected{% endif %}>{{ctext}}</a>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-info btn-xs pull-right" style="margin-top: 4px;"><i class="glyphicon glyphicon-search"></i> {% trans "Search" %}</button>
            {% if tag or q or cat %}<a href="?" class="btn btn-primary btn-xs pull-right" style="margin-top: 4px; margin-right: 4px;"><i class="glyphicon glyphicon-remove"></i> {% trans "Clear filter" %}</a>{% endif %}
        </form>

        <hr style="clear: both; margin-bottom: 4px; visibility: hidden;"/>

        {% for t in tags %}
            <a href="?tag={{t.0.tag}}&q={{q}}&cat={{cat}}&typ={{typ}}" class="label label-{% if t.0.tag == tag %}success{% else %}default{% endif %}" style="display: inline-block; font-size: {{t.1}}%;"><i class="glyphicon glyphicon-tag"></i> {{t.0.tag}}</a>
        {% endfor %}


    </div>
</div>


<a class="btn btn-success pull-right" href="{% url 'polyclassifiedads.views.new' %}" role="button"><i class="glyphicon glyphicon-plus"></i> {% trans "Submit an ad" %}</a>

<br />
<br />

<script type="text/javascript">$('#polyads-menu-browse').addClass('active');</script>

<script src="{% static 'polyclassifiedads/select2/select2.min.js' %}"></script>
<link href="{% static 'polyclassifiedads/select2/select2.css' %}" rel="stylesheet">
<link href="{% static 'polyclassifiedads/select2/select2-bootstrap.css' %}" rel="stylesheet">

<script type="text/javascript">

    $('#typ-select, #cat-select').select2({
        allowClear: true,
        sortResults: function(results, container, query) {
            return results.sort(function(a, b) {
                if (a.disabled) {
                    return -1;
                }

                if (b.disabled) {
                    return 1;
                }

                if (a.text.length == 1) {
                    return -1;
                }

                if (b.text.length == 1) {
                    return -1;
                }

                return a.text > b.text;
            });
        }
    });

</script>
{% endblock %}
