{% extends "polyclassifiedads/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Browse ads" %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans "Browse ads" %}</h1>



<div class="row">
    <div class="col-md-9">
        {% if not liste %}
            <div class="alert alert-warning">
                {% trans "No ads for your search !" %}
            </div>
        {% else %}

            <div class="row">

                {% for ad in liste %}
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                        <div class="caption">
                            <h3 style="margin-top: 0px;">
                                {{ad.title}}
                                <small>{% trans "By" %} {% if ad.author %}{{ad.author.get_full_name}}{% else %}<i>{% trans "Anonymous" %}</i>{% endif %}</small>
                            </h3>

                            {{ad.content_formated|safe|truncatewords_html:10}}
                            <a href="{% url 'polyclassifiedads.views.show' ad.pk %}" style="margin-bottom: 2px;" class="btn btn-info btn-xs pull-right"><i class="glyphicon glyphicon-folder-open"></i> {% trans "More" %}</a>
                            <hr style="clear: both; margin-bottom: 0px;"/>
                            <a href="?tag={{tag}}&q={{q}}&cat={{ad.category}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-list-alt"></i> {{ad.get_category_display}}</a> {% for t in ad.tags_for_list %}<a href="?tag={{t.tag}}&q={{q}}&cat={{cat}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-tag"></i> {{t.tag}}</a> {% endfor %}
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <ul class="pager">
                {% if liste.has_previous %}
                    <li class="previous"><a href="?page={{liste.previous_page_number}}{% if tag %}&tag={{tag}}{% endif %}&q={{q}}&cat={{cat}}">&larr; {% trans "Newer" %}</a></li>
                {% else %}
                    <li class="previous disabled"><a href="#">&larr; {% trans "Newer" %}</a></li>
                {% endif %}

                <li>{% blocktrans with n=liste.number p=liste.paginator.num_pages %}Page {{n}} of {{p}}{% endblocktrans %}</li>

                {% if liste.has_next %}
                    <li class="next"><a href="?page={{liste.next_page_number}}{% if tag %}&tag={{tag}}{% endif %}&q={{q}}&cat={{cat}}">{% trans "Older" %} &rarr;</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">{% trans "Older" %} &rarr;</a></li>
                {% endif %}

            </ul>
        {% endif %}

    </div>
    <div class="col-md-3">

        <h3>{% trans "Filters" %}</h3>

        <form action="" method="GET">
            <input type="hidden" name="tag" value="{{tag}}">
            <div class="input-group">
                <input class="form-control" type="text" name="q" value="{{q}}" placeholder="{% trans "Search in ads" %}">
                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            </div>
            <select class="form-control" name="cat" placeholder="{% trans "Select a category" %}" style="margin-top: 4px;">
                <optgroup label="{% trans "Select a category" %}">
                    <option></option>
                    {% for cid, ctext in CATEGORY_CHOICES %}
                        <option value="{{cid}}" {% if cid == cat %}selected{% endif %}>{{ctext}}</a>
                    {% endfor %}
                </optgroup>
            </select>

            <button type="submit" class="btn btn-info btn-xs pull-right" style="margin-top: 4px;"><i class="glyphicon glyphicon-search"></i> {% trans "Search" %}</button>
            {% if tag or q or cat %}<a href="?" class="btn btn-primary btn-xs pull-right" style="margin-top: 4px; margin-right: 4px;"><i class="glyphicon glyphicon-remove"></i> {% trans "Clear filter" %}</a>{% endif %}
        </form>

        <hr style="clear: both; margin-bottom: 4px; visibility: hidden;"/>

        {% for t in tags %}
            <a href="?tag={{t.0.tag}}&q={{q}}" class="label label-{% if t.0.tag == tag %}success{% else %}default{% endif %}" style="display: inline-block; font-size: {{t.1}}%;"><i class="glyphicon glyphicon-tag"></i> {{t.0.tag}}</a>
        {% endfor %}


    </div>
</div>


<a class="btn btn-success pull-right" href="{% url 'polyclassifiedads.views.new' %}" role="button"><i class="glyphicon glyphicon-plus"></i> {% trans "Submit an ad" %}</a>

<script type="text/javascript">$('#polyads-menu-browse').addClass('active');</script>

<script type="text/javascript">

</script>
{% endblock %}
