{% extends "polyclassifiedads/base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Home" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "Welcome on the AGEPoly's classified ads webpage !" %}</h1>

    {% url 'polyclassifiedads.views.notifications' as surl %}

    <p>{% blocktrans with surl=surl %}
    The AGEPoly's classified ads are a service of the AGEPoly, for the whole EPFL community. You can publish an ad (for max. 30 days) and read others ads.<br /><br />

    Receive daily/weekly email notifications about new ads: subscribe <a href="{{surl}}">here</a><br /><br />

    External users (i.e. users without a tequila account) cannot read ads. However, they have the possibility to publish ads. All ads published on the plateform are moderated.<br /><br />

    For all job-related ads, please use <a href="http://myjob.epfl.ch">MyJob</a> only !

    </p>
    {% endblocktrans %}

    <div class="row">
        <div class="col-lg-6">
            <h2>{% trans "I'm from EPFL" %}</h2>
            <p>{% trans "Click one of the button bellow to start using the website. If you're not already logged in, you will be redirected to tequila to identify you "%}</p>
            <p><a class="btn btn-primary" href="{% url 'polyclassifiedads.views.browse' %}" role="button"><i class="glyphicon glyphicon-search"></i> {% trans "Browse ads" %}</a> <a class="btn btn-success" href="{% url 'polyclassifiedads.views.new' %}" role="button"><i class="glyphicon glyphicon-plus"></i> {% trans "Submit an ad" %}</a></p>
        </div>
        <div class="col-lg-6">
            <h2>{% trans "I'm not from EPFL" %}</h2>
            <p>{% trans "The service is only for EPFL's members, and you cannot browse ads. However, if you have an ad interesting for the EPFL community, you can submit it using the button bellow" %}</p>
            <p><a class="btn btn-info" href="{% url 'polyclassifiedads.views.external_new' %}" role="button"><i class="glyphicon glyphicon-plus"></i> {% trans "Submit an ad without login" %}</a></p>
       </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>{% trans "Looking for / offering a job" %}</h2>
            <p class="alert alert-danger">{% trans "All job-related ads will be rejected" %}</p>
            <p>{% trans "MyJob, another service provided by AGEPoly, already offers such ads. Please use MyJob instead of this plateform, thank you!" %}</p>
            <p><a class="btn btn-danger" href="http://myjob.epfl.ch" role="button"><i class="glyphicon glyphicon-forward"></i> {% trans "Go to MyJob" %}</a></p>
        </div>

        <div class="col-lg-6">
            <h2>{% trans "Looking for / renting an accommodation" %}</h2>
            <p class="alert alert-danger">{% trans "All ads regarding rooms, flats and houses rental will be rejected." %}</p>
            <p>{% trans "Only ads regarding holidays rental, garages, or house sales will be accepted." %}<br /><br />

                {% trans "The EPFL Housing office already offers a complete list of house rental ads and its dedicated team is at your disposal should you wish to offer of find an accommodation (rental only)." %}</p>
            <p><a class="btn btn-danger" href="http://logement.epfl.ch/{% if LANGUAGE_CODE == 'en' %}housing{% endif %}" role="button"><i class="glyphicon glyphicon-forward"></i> {% trans "Visit the EPFL Housing office website" %}</a></p>
        </div>
      </div>

    <script type="text/javascript">$('#polyads-menu-home').addClass('active');</script>

{% endblock %}
