{% extends "polyclassifiedads/base.html" %}
{% load i18n %}

{% block title %}{{block.super}} :: {% trans "Home" %}{% endblock %}

{% block content %}

    <h1 class="page-header">{% trans "Welcome on the AGEPoly's classified ads webpage !" %}</h1>

    <p>{% blocktrans %}
    The AGEPoly's classified ads are a service of the AGEPoly, for the whole EPFL community. You can publish an ad (for max. 30 days) and read others ads.<br /><br />

    It's possible to subscrible for news ads, with a dailly or weekly email summary.<br /><br />

    External users (i.e. users without a tequila account) cannot read ads. However, they have the possibility to publish ads. All ads published on the plateform are moderated.<br /><br />

    For all job-related ads, please use <a href="http://myjob.epfl.ch">MyJob</a> only !

    </p>
    {% endblocktrans %}

    <div class="row">
        <div class="col-lg-4">
            <h2>{% trans "I'm from EPFL" %}</h2>
            <p>{% trans "Click one of the button bellow to begin to use the site ! If you're not already logged in, you will be redirected to tequila to identify you "%}</p>
            <p><a class="btn btn-primary" href="{% url 'polyclassifiedads.views.browse' %}" role="button"><i class="glyphicon glyphicon-search"></i> {% trans "Browse ads" %}</a> <a class="btn btn-success" href="{% url 'polyclassifiedads.views.new' %}" role="button"><i class="glyphicon glyphicon-plus"></i> {% trans "Submit an ad" %}</a></p>
        </div>
        <div class="col-lg-4">
            <h2>{% trans "I'm not from EPFL" %}</h2>
            <p>{% trans "The service is only for EPFL's members, and you cannot browse ads. However, if you have an ad interesting for the EPFL community, you can submit it using the button bellow" %}</p>
            <p><a class="btn btn-info" href="{% url 'polyclassifiedads.views.external_new' %}" role="button"><i class="glyphicon glyphicon-plus"></i> {% trans "Summit an ad without login" %}</a></p>
       </div>
        <div class="col-lg-4">
            <h2>{% trans "I'm looking for/proposing a job" %}</h2>
            <p class="alert alert-danger">{% trans "All job-relateds ads will be refused !" %}</p>
            <p>{% trans "MyJob, another AGEPoly's service, already offer the same service, for ads. Please use MyJob instead of this platefrom, thank you !" %}</p>
            <p><a class="btn btn-danger" href="http://myjob.epfl.ch" role="button"><i class="glyphicon glyphicon-forward"></i> {% trans "Go to MyJob" %}</a></p>
        </div>
      </div>

    <script type="text/javascript">$('#polyads-menu-home').addClass('active');</script>

{% endblock %}
