{% load i18n %}
<h3>{% trans notification_text %}</h3>

{% if not notification_object %}

    {% blocktrans with type=notification_text %}
        {{type}} notifications aren't activated yet !
    {% endblocktrans %}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="create">
        <input type="hidden" name="type" value="{{notification_type}}">
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> {% trans "Activate" %}</button>

    </form>

{% else %}

    {% blocktrans with type=notification_text %}
        {{type}} notifications are active.
    {% endblocktrans %}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <input type="hidden" name="type" value="{{notification_type}}">
        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-minus-sign"></i> {% trans "Turn off" %}</button>
    </form>


    <h4>{% trans "Filter notifications" %}</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="save">
        <input type="hidden" name="type" value="{{notification_type}}">

        <div class="form-group">
            <label class="control-label" for="categories_{{notification_type}}">{% trans "Filter by category" %}</label>
            <input class="form-control" id="categories_{{notification_type}}" name="categories" placeholder="{% trans "Categories" %}" value="{{notification_object.filter_categories}}" type="hidden" />
        </div>

        <div class="form-group">
            <label class="control-label" for="words_{{notification_type}}">{% trans "Filter with words" %}</label>
            <input class="form-control" id="words_{{notification_type}}" name="words" placeholder="{% trans "Words" %}" value="{{notification_object.filter}}" type="hidden" />
        </div>

        <i>{% trans "Without a filter, every ad will be notified. If you specify more than one category/word, as soon as one category/word is matched, the ad will be notified (OR query)" %}</i><br />

        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok-sign"></i> {% trans "Save" %}</button>
    </form>

    <script type="text/javascript">

        $('#categories_{{notification_type}}').select2({
            tags: true,
            tokenSeparators: [",", " "],
            createSearchChoice: function(term, data) {
            },
            multiple: true,
            ajax: {
                url: '{% url 'polyclassifiedads.views.search_in_categories' %}',
                dataType: "json",
                data: function(term, page) {
                    return {
                        q: term
                    };
                },
                results: function(data, page) {
                    return {
                        results: data
                    };
                }
            },
            initSelection: function (element, callback) {

                var ids = $(element).val();

                var data = new Array();

                $(ids.split(',')).each(function (_, e) {
                    data.push({id: e, text: id_cat[e]});
                });

                callback(data);
            }
        });


        $('#words_{{notification_type}}').select2({
            tags: true,
            tokenSeparators: [",", " "],
            createSearchChoice: function(term, data) {
                if ($(data).filter(function() {
                    return this.text.localeCompare(term) === 0;
                }).length === 0) {
                    return {
                        id: term,
                        text: term
                    };
                }
            },
            ajax: {
                url: '{% url 'polyclassifiedads.views.search_in_categories' %}',
                dataType: "json",
                data: function(term, page) {
                    return {
                        q: term
                    };
                },
                results: function(data, page) {
                    return {
                        results: []
                    };
                }
            },
            multiple: true,
            initSelection: function (element, callback) {

                var ids = $(element).val();

                var data = new Array();

                $(ids.split(',')).each(function (_, e) {
                    data.push({id: e, text: e});
                });

                callback(data);
            }
        });

    </script>


{% endif %}
