{% extends "polyclassifiedads/base.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block title %}{{block.super}} :: {{ad.title}}{% endblock %}

{% block content %}

<h1 class="page-header">{{ad.title}}</h1>

{% if not ad.is_validated %}
    <div class="alert alert-warning">
        {% trans "This ad is not yet visible by anothers users. Our staff will validate it as soon as possible." %}
    </div>
{% endif %}

{% if secret_key %}

    <div class="alert alert-danger">
        {% trans "To be able to edit this ad in the futur, please keep the following link in a safe place:" %}<br />
        <b><a href="https://{{site.domain}}{% url 'polyclassifiedads.views.external_show' ad.pk %}?secret_key={{secret_key}}">https://{{site.domain}}{% url 'polyclassifiedads.views.external_show' ad.pk %}?secret_key={{secret_key}}</a></b><br /><br/>

        <u>{% trans "Don't share this link with others persons or they will be able to edit your ad !" %}</u>
    </div>

{% endif %}

<div class="row">
    <div class="col-md-8">
        <div class="well">{{ad.content_formated|safe}}</div>
    </div>

    <div class="col-md-4">
        <h4>{% trans "Contact" %}</h4>
        <dl>
            <dt>{% trans "Email" %}</dt>
            <dd><a href="mailto:{{ad.contact_email}}">{{ad.contact_email}}</a></dd>
            {% if ad.contact_phone %}
                <dt>{% trans "Phone" %}</dt>
                <dd>{{ad.contact_phone}}</dd>
            {% endif %}
        </dl>
        <h4>{% trans "Metadata" %}</h4>
        <dl>
             <dt>{% trans "Author" %}</dt>
             <dd>{% if ad.author %}{{ad.author.get_full_name}}{% else %}<i>{% trans "Anonymous" %}</i>{% endif %}</dd>
             <dt>{% trans "Last modification" %}</dt>
             <dd>{{ad.last_modification_date}} ({{ad.last_modification_date|timesince}})</dd>
             <dt>{% trans "Category" %}</dt>
             <dd>{{ad.get_category_display}}</dd>
             {% if ad.tags_for_list %}
                <dt>{% trans "Tags" %}</dt>
                <dd>{% for t in ad.tags_for_list %}<a href="{% url 'polyclassifiedads.views.browse' %}?tag={{t.tag}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-tag"></i> {{t.tag}}</a> {% endfor %}</dd>
             {% endif %}
             {% if can_edit %}
                <dt>{% trans "Online date" %}</dt>
                <dd>{{ad.online_date|date}}</dd>
                <dt>{% trans "Offline date" %}</dt>
                <dd>{{ad.offline_date|date}}</dd>
                <dt>{% trans "Validated ?" %}</dt>
                <dd><span class="label label-{{ad.is_validated|yesno:"success,danger"}}">{{ad.is_validated|yesno}}</span></dd>
                <dt>{% trans "Online ?" %}</dt>
                <dd><span class="label label-{{ad.is_validated|yesno:"success,danger"}}">{{ad.is_online|yesno}}</span></dd>
             {% endif %}
        </dl>
        {% if can_edit %}
            <h4>{% trans "Actions" %}</h4>
            <a href="{% if secret_key %}{% url 'polyclassifiedads.views.external_delete' ad.pk %}?secret_key={{secret_key}}{% else %}{% url 'polyclassifiedads.views.delete' ad.pk %}{% endif %}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> {% trans "Delete" %}</a>
            <a href="{% if secret_key %}{% url 'polyclassifiedads.views.external_put_offline' ad.pk %}?secret_key={{secret_key}}{% else %}{% url 'polyclassifiedads.views.external_put_offline' ad.pk %}{% endif %}" class="btn btn-warning"><i class="glyphicon glyphicon-minus"></i> {% trans "Put offline" %}</a>
            <a href="{% if secret_key %}{% url 'polyclassifiedads.views.external_edit' ad.pk %}?secret_key={{secret_key}}{% else %}{% url 'polyclassifiedads.views.edit' ad.pk %}{% endif %}" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> {% trans "Edit" %}</a>
            {% if user.is_staff %}
                {% if ad.is_validated %}
                    <a href="{% url 'polyclassifiedads.views.unvalidate' ad.pk %}" class="btn btn-warning"><i class="glyphicon glyphicon-unchecked"></i> {% trans "Unvalidate" %}</a>
                {% else %}
                    <a href="{% url 'polyclassifiedads.views.validate' ad.pk %}" class="btn btn-info"><i class="glyphicon glyphicon-check"></i> {% trans "Validate" %}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>

<script type="text/javascript">$('#polyads-menu-{% if secret_key %}external{% else %}myads{% endif %}').addClass('active');</script>

{% endblock %}
