{% extends "polyclassifiedads/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{{block.super}} :: {% trans "Validate ad" %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans "Validate ad" %}</h1>

<div class="alert alert-danger">
    {% blocktrans with t=ad.title %}
        Are you to you want to validate the ad "{{t}}" ?<br /><br />
    {% endblocktrans %}
</div>

<div class="col-md-8">
        <div class="well">{{ad.content_formated|safe}}</div>
    </div>

    <div class="col-md-4">
        <h4>{% trans "Contact" %}</h4>
        <dl>
            <dt>{% trans "Email" %}</dt>
            <dd><a href="mailto:{{ad.contact_email}}">{{ad.contact_email}}</a></dd>
            {% if ad.contact_phone %}
                <dt>{% trans "Phone" %}</dt>
                <dd>{{ad.contact_phone}}</dd>
            {% endif %}
        </dl>
        <h4>{% trans "Metadata" %}</h4>
        <dl>
             <dt>{% trans "Author" %}</dt>
             <dd>{% if ad.author %}{{ad.author.get_full_name}}{% else %}<i>{% trans "Anonymous" %}</i>{% endif %}</dd>
             <dt>{% trans "Last modification" %}</dt>
             <dd>{{ad.last_modification_date}} ({{ad.last_modification_date|timesince}})</dd>
             <dt>{% trans "Category" %}</dt>
             <dd>{{ad.get_category_display}}</dd>
             <dt>{% trans "Type" %}</dt>
             <dd>{{ad.get_type_display}}</dd>
             <dt>{% trans "Tags" %}</dt>
             <dd>{% for t in ad.tags_for_list %}<a href="{% url 'polyclassifiedads.views.browse' %}?tag={{t.tag}}" class="label label-default" style="display: inline-block;"><i class="glyphicon glyphicon-tag"></i> {{t.tag}}</a> {% endfor %}</dd>
            <dt>{% trans "Online date" %}</dt>
            <dd>{{ad.online_date|date}}</dd>
            <dt>{% trans "Offline date" %}</dt>
            <dd>{{ad.offline_date|date}}</dd>
        </dl>
    </div>
</div>

<form action="" method="POST">
    {% csrf_token %}

    <span class="pull-right">
        <a href="{% url 'polyclassifiedads.views.unvalidated_list' %}" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> {% trans "No" %}</a>
        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-check"></i> {% trans "Yes" %}</button>
    </span>

</form>

<script type="text/javascript">$('#polyads-menu-admin').addClass('active');</script>

{% endblock %}
