{% extends "polyclassifiedads/base.html" %}
{% load i18n %}
{% load bootstrap3 %}


{% block title %}{{block.super}} :: {% trans "Put offline an ad" %}{% endblock %}

{% block content %}

<h1 class="page-header">{% trans "Put offline an ad" %}</h1>

<div class="alert alert-warning">
    {% blocktrans with t=ad.title %}
        Are you to you want to put offline the ad "{{t}}" ?<br /><br />
    {% endblocktrans %}
</div>

<form action="" method="POST">
    {% csrf_token %}

    <span class="pull-right">
        <a href="{% if secret_key %}{% url 'polyclassifiedads.views.external_show' %}?secret_key={{secret_key}}{% else %}{% url 'polyclassifiedads.views.my_ads' %}{% endif %}" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> {% trans "No - Don't put offline" %}</a>
        <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-ban-circle"></i> {% trans "Yes" %}</button>
    </span>

</form>

<script type="text/javascript">$('#polyads-menu-{% if secret_key %}external{% else %}myads{% endif %}').addClass('active');</script>

{% endblock %}
